
form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:20px;
  background-color:rgb(160, 160, 125);
}

label {
  font-weight: bold;
}

input {
  margin: 13px;
  padding: 10px;
  border: 2px solid rgb(97, 27, 208);
  border-radius: 100px;
  font-size: 17px;
  
  
}

.button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgb(207, 24, 214);
  background-color: #4CAF50;
  font-size: 18px;
}



.output-box {
  margin: 10px 0;
  width:99vw;
  padding-top:20px;
  border: 1px solid rgb(17, 229, 24);
  font-size: 17px;
  text-align:center;
  background-color: rgb(196, 196, 133);
}

.remove-button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgb(246, 186, 133);
  background-color: #b92222;
  font-size: 16px;
}

